doctype html
html
  head
    include includes/head.pug
    title About
  body
    .bg-img
    include includes/navbar.pug
    .main
      .about
        h1 About
        p
          | Ana Barreto AB ab Currently located in the San Francisco Bay Area.
          | Loves to learn new things blah blah blah blah. I have a wonderful
          | daughter, a dog and two cats. I currently live in Fremont and thats
          | located in northern california in the United States of America. Lorem
          | ipsum dolor, sit amet consectetur adipisicing elit. Error perferendis
          | incidunt, quo numquam fuga dolorum debitis temporibus, aliquam maiores
          | repellat pariatur at aperiam reiciendis illum unde accusantium
          | quisquam tempora earum.
