doctype html
html
  head
    include includes/head.pug
    title About
  body
    .bg-img
    .main
      include includes/navbar.pug
      .about
        h1 About
        p
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cumque numquam beatae laboriosam voluptates dolores accusamus sit repellendus quod eligendi? Magnam molestias maxime porro incidunt sequi quis deleniti accusamus repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cumque numquam beatae laboriosam voluptates dolores accusamus sit repellendus quod eligendi? Magnam molestias maxime porro incidunt sequi quis deleniti accusamus repellat.
        p
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cumque numquam beatae laboriosam voluptates dolores accusamus sit repellendus quod eligendi? Magnam molestias maxime porro incidunt sequi quis deleniti accusamus repellat.
          
