doctype html
html
  head
    include includes/head.pug
    title Contact
  body
    .bg-img
    
    .main
      include includes/navbar.pug
      .about
        h1 contact
        ul.social-media-links
          li
            a(href='https://www.linkedin.com/in/anagobarreto/')
              img(src='images/linkedin.png')
              p linkedin
              
          li
            a(href='https://github.com/anagobarreto')
              img(src='images/github.png')
              p github
          li
            a(href='mailto:anacgbarreto@gmail.com')
              img(src='images/mail.png')
              p email
          li
            a(href='https://twitter.com/anagobarreto')
              img(src='images/twitter.png')
              p twitter
      
