doctype html
html
  head
    include includes/head.pug
    title Contact
  body
    .bg-img
    
    .main
      block content
        h1 Contact
        ul.social-media-links
          li
            a(href='https://www.linkedin.com/in/anagobarreto/') LinkedIn
          li
            a(href='https://github.com/anagobarreto') GitHub
          li
            a(href='mailto:fakeemailplaceholder@gmail.com') Email
          li
            a(href='https://twitter.com/anagobarreto') Twitter


      
