doctype html
html
  head
    include includes/head.pug
    title Contact
  body
    .bg-img
    include includes/navbar.pug
    h1 Contact
    ul.social-media-links
      li
        a(href='https://www.linkedin.com/in/anagobarreto/')
          img(src='images/linkedin.png')
      li
        a(href='https://github.com/anagobarreto')
          img(src='images/github.png')
      li
        a(href='mailto:anacgbarreto@gmail.com')
          img(src='images/email.png')
    
