doctype html
html
  head
    include includes/head.pug
    title Work
  body
    .bg-img
    .main
      include includes/navbar.pug
      .wrapper
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/alphabook')
            | Alphabook
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/paws')
            | Paws & Play
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/novanoid')
            | Novanoid
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/orion')
            | Orion's Dungeon
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/daft')
            | Daft Punk Soundboard
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/bikes')
            | Santander cycles map
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/bikes')
            | Santander cycles map
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/bikes')
            | Santander cycles map
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='projects/bikes')
            | Santander cycles map
