doctype html
html
  head
    include includes/head.pug
    title Work
  body
    .bg-img
    .main
      include includes/navbar.pug
      .wrapper
      .box
        .box-container
          img(src='.images/Alphabook.jpeg', alt='')
          a(href='.work/alphabook.html')
            | Alphabook
      .box
        .box-container
          img(src='.images/Alphabook.jpeg', alt='')
          a(href='.work/paws.html')
            | Paws & Play
      .box
        .box-container
          img(src='.images/Alphabook.jpeg', alt='')
          a(href='.work/novanoid.html')
            | Novanoid
      .box
        .box-container
          img(src='.images/Alphabook.jpeg', alt='')
          a(href='.work/orion.html')
            | Orion's Dungeon
      .box
        .box-container
          img(src='.images/Alphabook.jpeg', alt='')
          a(href='.work/daft.html')
            | Daft Punk Soundboard
      .box
        .box-container
          img(src='.images/Alphabook.jpeg', alt='')
          a(href='work/.santander.html')
            | Santander cycles map
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='.work/bikes')
            | Santander cycles map
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='.work/bikes')
            | Santander cycles map
      .box
        .box-container
          img(src='https://www.placecage.com/c/250/150', alt='')
          a(href='.work/bikes')
            | Santander cycles map
