doctype html
html
  head
    include includes/head.pug
    title Work
  body
    .bg-img
    .main
      h1 Work
      include includes/navbar.pug
      .buttons
        div
          .button
            a(href='url') Button 1
          .button
            a(href='url') Button 2
          .button
            a(href='url') Button 3
        div
          .button
            a(href='url') Button 4
          .button
            a(href='url') Button 5
          .button
            a(href='url') Button 6
        div
          .button
            a(href='url') Button 7
          .button
            a(href='url') Button 8
          .button
            a(href='url') Button 9
