.navbar
        .open
          span.cls
          span
            ul.sub-menu
              li
                a(href='about', title='about') About
              li
                a(href='work', title='work') Work
              li
                a(href='index', title='index') home
          span.cls