.navbar
        .open
          span.cls
          span
            ul.sub-menu
              li
                a(href='about', title='about') about
              li
                a(href='work', title='work') work
              li
                a(href='index', title='index') home
              li
                a(href='contact', title='contact') contact
          span.cls